@font-face {
    font-family: 'font';
    src: url('font.woff2') format('woff2');
  }

body {
    background: #0E1525;
}

* {
    font-family: 'font', sans-serif;
    color: white;
}

#for {
    width: 42px;
    height: 42px;
    border-radius: 10px;
}